<div class="fixed-action-btn">
    <a href="/repos/add" id="fab" class="btn-floating btn-large orange darken-3 tooltipped" data-position="left" data-delay="50" data-tooltip="Add repository">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="New version"><i class="material-icons">forward</i></a></li>
        <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="New Release"><i class="devicon-git-plain"></i></a></li>
    </ul>
</div>