<!--
    Doesn't include click scripts, put it in the page js
-->
<div class="iframe_wrap" id="folderB">
    <iframe id="pepe" src="/pepe" height="400" width="100%"></iframe>
</div>
<div class="row">
    <nav class="red iframe_wrap">
        <div class="nav-wrapper">
            <div class="col s12" id="breadcrumb">
                <a class="breadcrumb">home</a>
            </div>
        </div>
    </nav>
</div>


