<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title><%=title%></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/devicon.css" type="text/css" rel="stylesheet" />

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
</head>

<body>
<header>
    <!-- NavBar -->
    <% include partials/nav.ejs %>

    <!-- Slide bar -->
    <ul id="nav-mobile" class="side-nav fixed grey lighten-3">
        <li class="logo"><a id="logo-container" href="/" class="brand-logo">
                <object id="front-page-logo" type="image/svg+xml" data="/images/lynx.svg">Your browser does not support SVG</object></a>
        </li>
        <li class="bold active"><a class="waves-effect waves-orange">Home</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header  waves-effect waves-orange">Repositories</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/repos/add">Add Repository</a></li>
                            <li><a href="/repos/manage">Manage Repository</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

<!-- Content -->
<main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center orange-text lighten-1">Lynx Versioning System</h1>
                <div class="row center">
                    <h5 class="header col s12 light">a local vs and repo manager that follows semantic versioning</h5>
                </div>
                <!--<div class="row center">-->
                    <!--<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>-->
                <!--</div>-->
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="/images/backgrounds/mountains.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>

                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light grey-text text-lighten-5">Local Semantic Versioning at it's finest with LynxVS</h5>
                </div>
                <br><br><br><br><br><br><br><br><br>
                <div class="row center">
                <a href="http://semver.org/" id="download-button" class="btn-large waves-effect waves-light orange darken-1">
                    Learn More About SemVer
                </a>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/images/backgrounds/feline.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Summary</h4>
                    <p class="left-align light">
                        Given a version number <b>MAJOR.MINOR.PATCH</b>, increment the:<br>

                        <b>MAJOR</b> version when you make incompatible API changes,
                        <b>MINOR</b> version when you add functionality in a backwards-compatible manner, and
                        <b>PATCH</b> version when you make backwards-compatible bug fixes.
                        <b>Additional</b> labels for pre-release and build metadata are available as extensions to the MAJOR.MINOR.PATCH format.
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light grey-text text-lighten-5">The folder selector part was Hard, like really hard<br>
                        I don't know what to put here, but I liked the image
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/images/backgrounds/building.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <!-- Fab -->
    <% include partials/fab.ejs %>

    <!-- Tap Target Structure -->
    <div class="tap-target" data-activates="fab">
        <div class="tap-target-content">
            <h5>Quick Actions</h5>
            <p>From here you can add new repositories, add a release and create a new version!</p>
        </div>
    </div>

</main>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Description</h5>
                <p class="grey-text text-lighten-4">
                    Universidad EIA<br>
                    Implementación e Integración de Software<br>
                    10 - noviembre - 2017
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Integrantes</h5>
                <ul>
                    <li><a class="white-text" href="#!">Juan Diego Torres Morales</a></li>
                    <li><a class="white-text" href="#!">Oscar Uribe Londoño</a></li>
                    <li><a class="white-text" href="#!">Stiven Franco Taborda</a></li>
                    <li><a class="white-text" href="#!">Cristian Camilo David Marinez</a></li>
                    <li><a class="white-text" href="#!">Elias Eskaff Diaz</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Herramientas</h5>
                <ul>
                    <li><a class="white-text" href="#!">NodeJS</a></li>
                    <li><a class="white-text" href="#!">MongoDB</a></li>
                    <li><a class="white-text" href="#!">MaterializeCSS</a></li>
                    <li><a class="white-text" href="#!">D3Js</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://github.com/juandiegotor">Juan Diego Torres Morales</a>
        </div>
    </div>
</footer>

    <!--  Scripts-->
    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/js/home.js"></script>

</body>
</html>
