<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title><%=title%></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/devicon.css" type="text/css" rel="stylesheet" />

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
</head>

<body>
<header>
    <% include partials/nav.ejs %>

    <!-- Slide bar -->
    <ul id="nav-mobile" class="side-nav fixed grey lighten-3">
        <li class="logo"><a id="logo-container" href="/" class="brand-logo">
                <object id="front-page-logo" type="image/svg+xml" data="/images/lynx.svg">Your browser does not support SVG</object></a>
        </li>
        <li class="bold"><a href="/" class="waves-effect waves-orange">Home</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header active waves-effect waves-orange">Repositories</a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="active orange"><a>Add Repository</a></li>
                            <li><a href="/repos/manage">Manage Repository</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>

<main>
    <div class="container">

        <form method="post" action="/repos/add" id="formAddRepo">
            <div class="section">
                <h2>Fill Out Repo Info!</h2>
                <div class="row">
                    <div class="input-field col s6 large">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label class="active" for="name">Repo Name</label>
                    </div>
                    <div class="input-field col s6 large">
                        <input id="version" name="version" type="text" class="validate" required>
                        <label class="active" for="version">Current Version</label>
                    </div>
                </div>
            </div>

            <!-- Folder Select -->
            <div class="section">
                <h5 class="grey-text text-darken-2">Path to Source Code</h5>
                <% include partials/folderSelector.ejs %>
            </div>

            <!-- Additional Info -->
            <div class="section">
                <!-- GitHub Repo -->
                <div class="row">
                    <div class="input-field col s9">
                        <input id="remote" name="remote" type="text" class="validate" required>
                        <label class="active" for="name">GitHub Remote</label>
                    </div>
                    <div class="col s3">
                        <input type="checkbox" id="isUpdated" name="isUpdated" />
                        <label for="isUpdated">Current Git Version?</label>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" name="description"
                                  class="materialize-textarea" data-length="200" required></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <div class="chips"></div>
                        <label for="chips">Tags</label>
                    </div>
                </div>
            </div>


            <!-- Submit & Cancel Buttons -->
            <div class="right">
                <a href="/" class="waves-effect waves-light btn red">Cancel</a>
                <button type="submit" class="waves-effect waves-light btn green" id="sub">Add Repo!</button>
            </div>
        </form>
    </div>

</main>

<!--  Scripts -->
<script src="/js/jquery.iframetracker.js"></script>
<script src="/materialize/js/materialize.min.js"></script>
<script src="/js/repositoryAdd.js"></script>

</body>
</html>
