/* Custom Stylesheet */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.node circle {
    fill: #fff;
    stroke: green;
    stroke-width: 3px;
}

.node text {
    font: 20px sans-serif;
}

.link {
    fill: none;
    stroke: purple;
    stroke-width: 2px;
}

.logo #logo-container {
    height: 250px;
}

.folderClick {
    cursor: pointer;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

#reveal-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.ppTitle > .title {
    display: inline-block;
}

div.ppTitle > .content{
    margin-left: 10px;
}


.collapsible-header > span {
    margin-left: 10px;
}

.collapsible-body > a {
    margin-left: 20px;
}

.parallax-container .section {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width : 992px) {
    .parallax img {
        max-height: 130%; /* or a little bit higher */
    }
}

@media only screen and (min-width: 800px) {
    .parallax img {
        max-height: 170%; /* or higher percentages. It's up to your taste */
    }
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}